@model AdministradorTareas.Models.tareas
@{
    ViewData["Title"] = "Editar Tarea";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="categoria" class="control-label"></label>
                <input asp-for="categoria" class="form-control" />
                <span asp-validation-for="categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tarea" class="control-label"></label>
                <input asp-for="tarea" class="form-control" />
                <span asp-validation-for="tarea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="asignacion" class="control-label"></label>
                <input asp-for="asignacion" class="form-control" />
                <span asp-validation-for="asignacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="creador" class="control-label"></label>
                <input asp-for="creador" class="form-control" />
                <span asp-validation-for="creador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaCreacion" class="control-label"></label>
                <input asp-for="fechaCreacion" class="form-control" />
                <span asp-validation-for="fechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaLimite" class="control-label"></label>
                <input asp-for="fechaLimite" class="form-control" />
                <span asp-validation-for="fechaLimite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estado" class="control-label"></label>
                <input asp-for="estado" class="form-control" />
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>